{% extends "TwigBundle::layout.html.twig" %}

{% block title 'Thank you for sending this gift.' %}

{% block body %}
    

    <div class="sf-reset holder">
        <div class="sent_message" style="">
                        {% if message  %}<h2>{{message}}</h2>{% endif %}
                    
                </div>

            
            {% if img  %} 
     
                <img src="bundles/system/img/gift_sent.jpg" alt="Thank you" title="Thank you."/>
            {% endif %}
        </div>
    </div>
    
{% endblock %}
