{% extends "TwigBundle::layout.html.twig" %}

{% block title 'Login' %}
{% block body %}
   
    <div class="sf-reset holder">
        <div class="block">
            <form action="{{ path('login_check') }}" method="post">
                <label for="username">User:</label>
                <input id="username" type="text" name="_username" class="block input_block" />
                <label for="password">Password:</label>
                <input id="password" type="password" name="_password" class="block input_block" /> 
                <input type="submit" name="login" class="block input_block button" value="Login to gift app" />
                <a href="/facebook-login">Login with facebook</a>
            </form>
            {% if error  %} 
     
                <p class="message">{{error.message}}</p>
            {% endif %}
        </div>
    </div>
    
{% endblock %}
