{% extends "TwigBundle::layout.html.twig" %}

{% block title {{message}} %}

{% block body %}
    

    <div class="sf-reset holder">
        <div class="block" style="width: 300px; background-color: #ddd; border: none;">

            {% if message  %} 
     
                <p style="font-weight: bold; text-align: center; font-size: 11px; margin-top: 10px;">{{message}}</p>
            {% endif %}
            {% if img  %} 
     
                <img src="bundles/system/img/gift_sent.jpg" alt="Thank you" title="Thank you."/>
            {% endif %}
        </div>
    </div>
    
{% endblock %}
